on:
  pull_request:
  push:

permissions: {}

jobs:
  fmt:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - run: rustup component add rustfmt
      - run: cargo fmt --all -- --check
  clippy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - run: rustup component add clippy
      - run: cargo clippy -- -D warnings
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      # see tests/thrust-pcsat-wrapper
      COAR_IMAGE: ghcr.io/hiroshi-unno/coar@sha256:73144ed27a02b163d1a71b41b58f3b5414f12e91326015600cfdca64ff19f011
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-z3
      - run: docker pull "$COAR_IMAGE"
      - run: rustup show
      - uses: Swatinem/rust-cache@v2
      - run: cargo test
