on:
  push:
    branches:
      - main

permissions: {}

concurrency:
  group: ${{ github.workflow }}

jobs:
  docs:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v6
      - run: cargo doc --no-deps --document-private-items
      - run: echo '<meta http-equiv="refresh" content="0;url=thrust">' > target/doc/index.html
      - uses: actions/configure-pages@v5
      - uses: actions/upload-pages-artifact@v3
        with:
          path: 'target/doc'
      - id: deployment
        uses: actions/deploy-pages@v4
